* {
  font-family: 'Oswald', 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: dimgray;
}

header {
  background: rgb(58, 74, 27);
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover{
  color: purple
}

.placeholder {
  display: flex;
  margin: 50px;
  height: 400px;
}


.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-image {
  /* width: 400px; */
  height: 250px;
  border-radius: 50%;
}

main {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

section {
  text-align: center;
  border: 2px solid black;
  margin-top: 50px;

}
 section:hover {
  background-color:rgb(58, 74, 27);
}

/* link section */

.links {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

.links a {
  padding: 10px;
}


.icon {
  height: 40px;
}

.links:hover {
  background-color:rgb(58, 74, 27);
}