* {
  font-family: 'Oswald', 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: dimgray;
}

header {
  background: rgb(72, 93, 30);
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover{
  color: purple
}


.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-image {
  /* width: 400px; */
  height: 250px;
  border-radius: 60%;
  margin: 0;
}

main {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

section {
  text-align: center;
  border: 2px solid black;
  margin-top: 10px;

}


/* link section */

.links{
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

.links a{
  padding: 10px;
}


.icon{
  height: 40px;
}